
body {
  /* Use Geist Sans for general text */
  font-family: 'Geist', sans-serif;
  font-weight: 100;
}
h1, h2, h3, h4, h5, h6,label {
  font-family: 'Geist Mono', monospace;
  font-weight: 200;
}
pre, code {
  /* Use Geist Mono for code blocks or monospace needs */
  font-family: 'Geist Mono', monospace;
  font-weight: 100;
}

/* Example applying to specific elements */
.your-component-class {
  font-family: 'Geist', sans-serif;
  font-weight: 100;
}

.code-snippet {
  font-family: 'Geist Mono', monospace;
  font-weight: 100;
}